h4 {
  color: #efe811
}

h2 {
  color: #fa4242
}

body {
  background-color: #093313;
  color:#dbdbdb;
  font-family: robotoMono, monospace;
  overflow-x: hidden;
}

.logo-img {
  margin-bottom: 5px;
  max-width: 400px;
}

@media only screen and (min-width: 600px) {
  .pad15 { padding: 0 15%;}
}

a{color: #fa4242}
a:hover{color: #fd7d7d}