h4 {
  color: #efe811
}

h2 {
  color: #31d7cf
}

body {
  background-color: #0c152f;
  color:#ee2f7a;
  font-family: 'Roboto Mono', monospace;
  overflow-x: hidden;
}

.logo-img {
  margin-bottom: 5px;
  max-width: 400px;
}

@media only screen and (min-width: 600px) {
  .pad15 { padding: 0 15%;}
}