@font-face {
  font-family: 'robotoMono';
  font-style: normal;
  font-weight: normal;
  src:  url('../fonts/robotoMono.ttf');

}

/* Remove overscroll in chrome, firefox */
body {
  font-family: robotoMono, monospace;
  overscroll-behavior-y: none;
}

.title-container {
  background-image: url("../images/bug_wallp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}

.title-container > .overlay {
  background-color: darkblue;
  background-color: rgba(0, 1, 132, 0.77);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.title-container > .inner {
  position: relative;
  z-index: 2;
}

.speaker-img {
  max-width: 150px;
}

@media (max-width: 576px) {
  .speaker-img {
    margin: 10px;
  }
}

.bg-yellow {
  background-color: #efe811;
  color: white

}

.bg-pink {
  background-color: #ee2f7a;
  color: white

}

.bg-cyan {
  background-color: #31d7cf;
  color: white
}

a.nav-item.nav-link.pinklink:link,
a.nav-item.nav-link.pinklink:visited,
a.nav-item.nav-link.pinklink:hover,
a.nav-item.nav-link.pinklink:active {
  color: #ee2f7a;
}

.sponsor-img {
  margin: 5px;
  max-width: 200px;
}

.badges-img {
  border-bottom: 5px solid darkred;
}

.grayscale:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.action-button {
  background-color: #ee2f7a;
  border: none;
}

.map{
  display: block;
  min-height: 20em;
  width: 100%;
}

@keyframes pointypoint {
  0%,to {
    transform: translateY(0)
  }

  50% {
    transform: translateY(-5px)
  }
}

.nav-item.nav-link.pinklink {
  position: relative;
}

@media (min-width: 1200px) {
  .nav-item.nav-link.pinklink:hover:after {
    animation: pointypoint 2s infinite;
    content: "👆";
    font-size: 2rem;
    left: 0;
    margin: -15px auto 0;
    position: absolute;
    right: 0;
    top: 100%;
    transition: all ease .3s;
    z-index: 100;
  }
}

.navbar{
  z-index: 2;
}

.bug__container{
  position: absolute;
  right: 0;
  transform: rotate(180deg);
  z-index: 1;
}

@media (max-width: 576px) {
  .bug__container {
    left: 0;
  }
}

.bug__image {
  position: relative;
  top: 100vw;
  transform: rotate(-20deg);
  width: 20%;
}

@media (max-width: 576px) {
  .bug__image {
    animation-name: bugAnimationMobile;
    width: 40%;
  }
}

.bug__image--animation {
  animation-duration: 10s;
  animation-name: bugAnimationDesktop;
}

@keyframes bugAnimationMobile {
  0% {
    top: 60vw;
    transform: rotate(-20deg);
  }
  25% {
    top: 40vw;
  }
  35% {
    top: 20vw;
  }
  50% {
    top: 15vw;
    transform: rotate(20deg);
  }
  70% {
    top: 15vw;
    transform: rotate(-20deg);
  }
  80% {
    top: 30vw;
    transform: rotate(20deg);
  }
  90% {
    top: 30vw;
  }
  100% {
    top: 50vw;
  }
}

@keyframes bugAnimationDesktop {
  0% {
    top: 40vw;
    transform: rotate(-20deg);
  }
  25% {
    top: 30vw;
  }
  35% {
    top: 10vw;
  }
  50% {
    top: 3vw;
    transform: rotate(20deg);
  }
  70% {
    top: 3vw;
    transform: rotate(-20deg);
  }
  80% {
    top: 5vw;
    transform: rotate(20deg);
  }
  90% {
    top: 40vw;
  }
  100% {
    top: 45vw;
  }
}




