.title-container {
  background-image: url("../images/bug_wallp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}

.title-container > .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 1, 132, 0.77);
  z-index: 1;
}

.title-container > .inner {
  position: relative;
  z-index: 2;
}

.speaker-img {
  max-width: 200px;
}
 
.bg-yellow {
  background-color: #efe811;
  color: white
  
}
.bg-pink {
  background-color: #ee2f7a;
  color: white
  
}
.bg-cyan {
  background-color: #31d7cf;
  color: white
}

.pinklink {
    color: #ee2f7a!important;
}


.sponsor-img {
  max-width: 300px;
  margin: 5px;
}

 
.grayscale:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
 
.grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.action-button {
  background-color: #ee2f7a;
  border: none;
}