.title-container {
  background-image: url("../images/bug_wallp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}

.title-container > .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 1, 132, 0.77);
}

.title-container > .inner {
  position: relative;
  z-index: 2;
}

.speaker-img {
  max-width: 200px;
}
 
.bg-yellow {
  background-color: #efe811;
  color: white
  
}
.bg-pink {
  background-color: #ee2f7a;
  color: white
  
}
.bg-cyan {
  background-color: #31d7cf;
  color: white
}

.pinklink {
    color: #ee2f7a!important;
}


.sponsor-img {
  max-width: 200px;
  margin: 5px;
}

.badges-img {
  border-bottom: 5px solid darkred;
}
 
.grayscale:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
 
.grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.action-button {
  background-color: #ee2f7a;
  border: none;
}

.map{
  display: block;
  min-height: 20em;
   width: 100%;
}

@keyframes pointypoint {
  0%,to {
      transform: translateY(0)
  }

  50% {
      transform: translateY(-5px)
  }
}

.nav-item.nav-link.pinklink {
  position: relative;
}
@media (min-width: 1200px) {
  .nav-item.nav-link.pinklink:hover:after {
    content: "👆";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: -15px auto 0;
    z-index: 100;
    font-size: 2rem;
    transition: all ease .3s;
    animation: pointypoint 2s infinite;
  }
}

.navbar{
  z-index: 2;
}

.bug__container{
  position: absolute;
  z-index: 1;
  right: 0px;
  transform: rotate(180deg);
}
 @media (max-width: 576px) {
   .bug__container {
    left: 0px;
   }
 }



.bug__image{
  position: relative;
  top: 100vw;
  width: 20%;
  transform: rotate(-20deg);
}
 @media (max-width: 576px) {
   .bug__image {
    width: 40%;
    animation-name: bugAnimationMobile;
   }
 }

.bug__image--animation{
  animation-name: bugAnimationDesktop;
  animation-duration: 10s;
}
@keyframes bugAnimationMobile {
  0% {
    top: 60vw;
    transform: rotate(-20deg);
  }
  25% {
    top: 40vw;
  }
  35% {
    top: 20vw;
  }
  50% {
    top: 15vw;
    transform: rotate(20deg);
  }
  70% {
    top: 15vw;
    transform: rotate(-20deg);
  }
  80% {
    top: 30vw;
    transform: rotate(20deg);
  }
  90% {
    top: 30vw;
  }
  100% {
    top: 50vw;
  }
}

@keyframes bugAnimationDesktop {
  0% {
    top: 40vw;
    transform: rotate(-20deg);
  }
  25% {
    top: 30vw;
  }
  35% {
    top: 10vw;
  }
  50% {
    top: 3vw;
    transform: rotate(20deg);
  }
  70% {
    top: 3vw;
    transform: rotate(-20deg);
  }
  80% {
    top: 5vw;
    transform: rotate(20deg);
  }
  90% {
    top: 40vw;
  }
  100% {
    top: 45vw;
  }
}
