<main role="main">

    <div class="">

        <div class="xmas-container">
            <div class="overlay"></div>

            <div class="container-fluid">
                <div class="row inner align-items-center">
                    <div class="col-lg-6 p-3">
                        <img class="img-fluid mx-auto" src='public/images/logo-xmas.png' alt="Not a bug conf logo">
                    </div>
                    <div class="col-lg-6 p-3 ">
                        <h2 class='m-3 featurette-heading'>
                            Un'edizione natalizia per far nevicare codice e birra, #programmersunite
                        </h2>
                        <br>
                        <h2 class="featurette-heading">Ci vediamo in</h2>
                        <h2 class="featurette-heading">Via Luigi Galvani 15, Pistoia</h2>
                        <h2 class="featurette-heading">15 Dicembre 2018 &middot; h. 15.00</h2>
                        <a href="https://notabug-xmasedition.eventbrite.com/?aff=site" target="_blank" rel="nofollow" class="btn btn-primary action-button-xmas m-3">
                            🎫 Registrati 🎫 </a>
                        <p>(Ci sarà da bere e da mangiare 🍻🍿)</p>
                    </div>
                </div>
            </div>

        </div>

        <div id="schedule" class="container py-4">
            <div class="row p-1">
                <div class="col-lg-8">
                    <h2 style="text-align:left">Cosa faremo</h2>
                    <div style="text-align:left">
                        <br>
                        <p>Per te, che programmi sotto le coperte anche quando il natale è fuori dalla porta, anche
                            quando la neve arriva di notte, tutta vergognosa.</p>

                        <p>E’ per te che nevichi codice dalla testa che abbiamo creato questo workshop di amore e
                            amicizia, ma soprattutto Arduino, Raspberry Pi, lucine di natale e progettazione di
                            frontend e backend per comandare il tutto con comodi web protocols.</p>
                        <br>
                        <hr>
                        <div class="d-flex">
                            <span class="emoicon">🎄&nbsp;</span>
                            <h3 class="color-xmas">Costruiremo tutti insieme un albero di Natale con animazioni su strisce di led.</h3>
                        </div>
                        <hr>
                        <br>
                    </div>
                </div>

                <div class="col-lg-4" >
                    <img class="img-fluid mx-auto" src="public/images/computer_xmas.png" alt="Hacktoberfest computer">

                </div>
            </div>
        </div>
        <div class="alt-box">
                <div class="container">
                    <div class="text-center">
                        <br>
                        <br>
                        <h3>👩‍💻 Più siamo più ci divertiamo! 👨‍💻</h3>
                        <p>ci divideremo in 3 team:</p>
                        <br>
                    </div>
                    <div class="row text-left">
                        <div class="col-md-4">
                            <div class="text-center">
                                <span class="emoicon">🛠</span>
                                <hr>
                            </div>
                            <h4 class="color-xmas">Hardware</h4>
                            <p>Si occuperà del setup Raspberry + Arduino creando un protocollo di comunicazione per avviare una determinata animazione sull'albero di Natale e gestire una coda di richieste, nonché le animazioni.</p>
                            <br>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <span class="emoicon">💻</span>
                                <hr>
                            </div>
                            <h4 class="color-xmas">Backend</h4>
                            <p>Si occuperà di creare un servizio REST Api dal quale poter chiamare una determinata animazione e metterla in coda alle altre.</p>
                            <br>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <span class="emoicon">📱</span>
                                <hr>
                            </div>
                            <h4 class="color-xmas">Frontend</h4>
                            <p>Si occuperà di creare un pannello di controllo completo di login che comunicherà con le API per richiamare una determinata animazione.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                            <br>
                            <br>
                            <div class="text-center">
                                <h3 class="color-xmas">🤔 FAQ 🤓</h3>
                                <br>
                                <hr>
                                <br>
                            </div>
                            <div class="faq question text-left d-flex align-items-center">
                                <p>Quali sono le opzioni di trasporto/parcheggio per l'evento?</p>
                            </div>
                            <div class="faq answer text-left d-flex align-items-center">
                                <p>C'è un ampio parcheggio in strada (zona industriale)</p>
                            </div>
                            <hr>
                            <div class="faq question text-left d-flex align-items-center">
                                <p>Cosa posso portare all'evento?</p>
                            </div>
                            <div class="faq answer text-left d-flex align-items-center">
                                <p>È necessario portare il computer</p>
                            </div>
                            <hr>
                            <div class="faq question text-left d-flex align-items-center">
                                <p>Come posso contattare l'organizzatore per eventuali domande?</p>
                            </div>
                            <div class="faq answer text-left d-flex align-items-center">
                                <p>Puoi scriverci alla mail hello@notabug.it oppure contattarci sul nostro gruppo telegram che trovi sul nostro sito notabug.it</p>
                            </div>
                            <hr>
                            <div class="faq question text-left d-flex align-items-center">
                                <p>Devo portare i biglietti stampati all'evento?</p>
                            </div>
                            <div class="faq answer text-left d-flex align-items-center">
                                <p>Basta esibire il tuo biglietto virtuale (Salvaguardiamo l'ambiente)</p>
                            </div>
                            <hr>
                    </div>
                </div>
            </div>
        <div class="py-2" id='where'>
            <div id="map" class="map"></div>
        </div>
    </div>