

            <div class="container py-5">
              <div class="row p-3 justify-content-center" id='sponsors'>
                  <div class="col-lg-12">
                      <h2 class="color-xmas">I nostri supporter</h2>
                      <br>
                      <br>
                  </div>
                  <% _.forEach(sponsors, function(sponsor) { %>
                  <div class="col-lg-4">
                      <a href="<%- sponsor.url %>" target="_blank" rel="nofollow">
                          <img class="sponsor-img img-fluid mx-auto grayscale" src="public/images/sponsors/<%- sponsor.image %>"
                              alt="<%- sponsor.name %>">
                      </a>
                  </div>
                  <% }); %>
              </div>
          </div>
          <div class="alt-box">
          <div id="newsletter" class="container py-5 newsletter">
              <div class="row p-3 justify-content-center">
                  <form action="https://notabugconf.us19.list-manage.com/subscribe/post?u=71650bcf2d5604c33426d1d9a&amp;id=8999639a78" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">
                          <h2>Iscriviti alla newsletter</h2>
                          <div class="mc-field-group">
                              <label for="mce-EMAIL"> </label>
                              <br>
                              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Indirizzo Email">
                          </div>
                          <div id="mce-responses" class="clear">
                              <div class="response" id="mce-error-response" style="display:none"></div>
                              <div class="response" id="mce-success-response" style="display:none"></div>
                          </div>
                          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                          <div style="position: absolute; left: -5000px;" aria-hidden="true">
                              <input type="text" name="b_71650bcf2d5604c33426d1d9a_8999639a78" tabindex="-1" value="">
                              </div>
                              <div class="clear">
                              <input class="btn btn-primary action-button-xmas m-3" type="submit" value="✉️ Iscriviti ✉️" name="subscribe" id="mc-embedded-subscribe" class="button">
                              </div>
                              </div>
                          </form>
                  </form>
              </div>
          </div>
        </div>

          <footer class="container">
              <br>
              <p>
                  <a href="privacy-policy.html">Privacy Policy</a> &middot;
                  <a href="code-of-conduct.html">Code Of Conduct</a> &middot;
                  <a href="mailto:hello@notabug.it">Contattaci</a>
              </p>
              <p>
                  <a href="http://bit.ly/notabug-fb" target="_blank" rel="nofollow">Facebook</a>
                  &middot;
                  <a href="http://bit.ly/notabug-tw" target="_blank" rel="nofollow">Twitter</a> &middot;
                  <a href="http://bit.ly/xmas-ticket" target="_blank" rel="nofollow">Eventbrite</a> &middot;
                  <a href="http://bit.ly/telegram-group" target="_blank" rel="nofollow">Telegram
                      Group</a> &middot;
                  <a href="http://bit.ly/notabug-gh" target="_blank" rel="nofollow">Github</a>
              </p>
              <p>&copy; 2018 Not A Bug 🐛</p>
              <p>
                  <a href="#">Back to top</a>
              </p>

          </footer>
          <div class="relative-container">
              <figure class="bug__container_bottom">
                  <img id="bug-egg-bottom" class="bug__image_bottom" src="public/images/buconf.png" alt="">
              </figure>
          </div>
  </main>
  <script src="public/js/main.min.js?v=<%- version %>"></script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA38H_bb3Xm5MVHF4lXEn_Wi4y7Vx43oo&callback=initGoogleMap">


  </script>
