<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Not a bug conf</title>
  <meta name="description" content="Not A Bug Conf è la conferenza toscana che raccoglie professionisti, ricercatori e appassionati della programmazione e non solo #notabugconf">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <link rel="apple-touch-icon" sizes="57x57" href="public/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="public/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="public/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="public/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="public/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="public/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="public/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="public/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="public/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="public/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="public/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="public/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="public/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="public/images/favicon/manifest.json">


  <meta property="og:title" content="Not a Bug Conf" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://notabugconf.it/" />
  <meta property="og:image" content="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F44168017%2F245360734036%2F1%2Foriginal.jpg?w=800&auto=compress&rect=0%2C0%2C2160%2C1080&s=d1e52c98090eac78625cd8c2c2454f9c" />
  <meta property="og:description" content="NotABugConf è la conferenza toscana che raccoglie professionisti, ricercatori e appassionati della programmazione e non solo. Nella cornice di Pistoia, NotABugConf è un giorno per imparare, confrontarsi e scoprire." />


  <meta property="twitter:title" content="Not a Bug Conf" />
  <meta property="twitter:site" content="@notabugconf" />
  <meta property="twitter:image" content="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F44168017%2F245360734036%2F1%2Foriginal.jpg?w=800&auto=compress&rect=0%2C0%2C2160%2C1080&s=d1e52c98090eac78625cd8c2c2454f9c" />
  <meta property="twitter:description" content="NotABugConf è la conferenza toscana che raccoglie professionisti, ricercatori e appassionati della programmazione e non solo. Nella cornice di Pistoia, NotABugConf è un giorno per imparare, confrontarsi e scoprire." />


  <meta name="msapplication-TileColor" content="#efe811">
  <meta name="msapplication-TileImage" content="public/images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#efe811">

  <link href="public/css/styles.min.css?v=<%- version %>" rel="stylesheet">
</head>

<body class="text-center" style="overflow-x: hidden;">
  <header>
    <h1 class="page-title">Not a bug conf</h1>
    <figure class="bug__container">
      <img id="bug-egg" class="bug__image bug__image--animation" src="public/images/buconf.png" alt="">
    </figure>
    <nav class="navbar navbar-expand-lg navbar-light  bg-yellow" style="z-index: 99;">
      <a class="navbar-brand" href="/" style="color: black;">#notabugconf</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link pinklink" href="/2018.html">Edizione 2018</a>
          <a class="nav-item nav-link pinklink" href="#where">Where</a>
          <a class="nav-item nav-link pinklink" href="#sponsors">Supporter</a>
        </div>
      </div>
    </nav>
  </header>
  <main role="main">

    <div class="">

      <div class="title-container">
        <div class="overlay"></div>

        <div class="container-fluid">
          <div class="row inner align-items-center">
            <div class="col-lg-6 p-3">
              <img class="img-fluid mx-auto" src='public/images/title.png' alt="Not a bug conf logo">
            </div>
            <div class="col-lg-6 p-3 ">
              <div class='m-3'>
                <img class="img-fluid mx-auto event-banner" src='public/images/bootstrapunp.jpg' alt="Not a bug conf logo">
              </div>
              <h2 class="featurette-heading">Via Luigi Galvani 15, Pistoia</h2>
              <h2 class="featurette-heading">30 Giugno 2018 &middot; h. 15.30</h2>
              <a href="https://bootstrap4-unplugged-in-pistoia.eventbrite.it" target="_blank" rel="nofollow" class="btn btn-primary action-button m-3"> 🎫 Registrati (free) 🎫 </a>

              <p>(Coffee break offerto da noi ☕️)</p>

              <!-- <a class="btn btn-primary action-button" href="/2018">🙌 I talk della passata edizione 📋</a> -->
            </div>
          </div>
        </div>

      </div>

      <div class="container py-5">
        <div class="row p-1">
          <div class="col-lg-8">
            <h2 style="text-align:left">Chi siamo</h2>
            <p style="text-align:left">NotABugConf è la conferenza toscana che raccoglie professionisti, ricercatori e appassionati della programmazione e non solo. Nella cornice di Pistoia, NotABugConf è un giorno per imparare, confrontarsi e scoprire.<br/><br/><b>Non mancherà occasione di fare networking 🍹</b></p>
          </div>

          <div class="col-lg-4">
            <img class="img-fluid mx-auto badges-img" src="public/images/mini_badge_info.jpg" alt="I nostri badge">

          </div>
        </div>
      </div>

    <div class="py-5" id='where'>
      <div id="map" class="map"></div>
    </div>


    <div class="container py-5">
      <div class="row p-3 justify-content-center" id='sponsors'>
        <div class="col-lg-12">
          <h2>I nostri supporter</h2>
        </div>
        <% _.forEach(sponsors, function(sponsor) { %>
            <div class="col-lg-4">
                <a href="<%- sponsor.url %>" target="_blank" rel="nofollow">
                  <img class="sponsor-img img-fluid mx-auto grayscale"
                        src="public/images/sponsors/<%- sponsor.image %>"
                        alt="<%- sponsor.name %>">
                </a>
            </div>
        <% }); %>
      </div>
    </div>


    <footer class="container">
      <hr>
      <p>
        <a href="privacy-policy.html">Privacy Policy</a> &middot;
        <a href="code-of-conduct.html">Code Of Conduct</a> &middot;
        <a href="mailto:info@notabugconf.it">Contattaci</a>
      </p>
      <p>
        <a href="https://www.facebook.com/notabugconf/" target="_blank" rel="nofollow">Facebook</a> &middot;
        <a href="https://twitter.com/notabugconf" target="_blank" rel="nofollow">Twitter</a> &middot;
        <a href="https://notabugconf.eventbrite.it" target="_blank" rel="nofollow">Eventbrite</a> &middot;
        <a href="https://t.me/joinchat/AhrWXBFT_jUUFqAqkg6AzA" target="_blank" rel="nofollow">Telegram Group</a> &middot;
        <a href="https://github.com/notabugconf" target="_blank" rel="nofollow">Github</a>
      </p>
      <p>&copy; 2018 Not A Bug Conf 🐛</p>
      <p>
        <a href="#">Back to top</a>
      </p>

    </footer>
   <div class="relative-container">
      <figure class="bug__container_bottom">
        <img id="bug-egg-bottom" class="bug__image_bottom" src="public/images/buconf.png" alt="">
      </figure>
    </div>
  </main>
  <script src="public/js/main.min.js?v=<%- version %>"></script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA38H_bb3Xm5MVHF4lXEn_Wi4y7Vx43oo&callback=initGoogleMap">


  </script>

</body>

</html>
